site_name: specification v2.2.0
docs_dir: chapters
theme: readthedocs
extra_css:
- css/style.css
use_directory_urls: true
nav:
- 'Copyright': index.md
- '1 Rationale': 1-rationale.md
- '2 Document Creation Information': 2-document-creation-information.md
- '3 Package Information': 3-package-information.md
- '4 File Information': 4-file-information.md
- '5 Snippet Information': 5-snippet-information.md
- '6 Other Licensing Information Detected': 6-other-licensing-information-detected.md
- '7 Relationships between SPDX Elements': 7-relationships-between-SPDX-elements.md
- '8 Annotations': 8-annotations.md
- '9 Review Information (deprecated)': 9-review-information-deprecated.md
- 'Appendix I: SPDX License List': appendix-I-SPDX-license-list.md
- 'Appendix II: License Matching Guidelines and Templates': appendix-II-license-matching-guidelines-and-templates.md
- 'Appendix III: RDF Data Model Implementation and Identifier Syntax': appendix-III-RDF-data-model-implementation-and-identifier-syntax.md
- 'Appendix IV: SPDX License Expressions': appendix-IV-SPDX-license-expressions.md
- 'Appendix V: Using SPDX short identifiers in Source Files': appendix-V-using-SPDX-short-identifiers-in-source-files.md
- 'Appendix VI: External Repository Identifiers': appendix-VI-external-repository-identifiers.md
- 'Appendix VII: Creative Commons Attribution License 3.0 Unported': appendix-VII-creative-commons-attribution-license-3.0-unported.md
- 'Appendix VIII: SPDX Lite': appendix-VIII-SPDX-Lite.md
- 'Appendix IX: SPDX File Tags': appendix-IX-file-tags.md
copyright: Copyright &copy; 2010 - 2020 Linux Foundation and its Contributors.

markdown_extensions:
- codehilite:
   guess_lang: false
