.wy-side-nav-search {
  background: rgb(250, 250, 250);
  padding: 0 0.809em 0 0.809em;
  width: 100%;
  max-width: 350px;
}

.fa-home:before, .icon-home:before {
  content: '';
  display: block;
  background-position: center center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAABTCAYAAAC2/xobAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAANQUlEQVR42u2dPWwbyRXH/1oR549GCowL4uSC3WCRxJeTQ1oHXWVHPCB3F5xlHK+44oBYXJcKEJgG0osG0qQKVQSHVKaKlEGozhcVR9VXmKpSLW63sGuqM2CLm2JnyeFyl5qZneWS4vsBhChyP94s97/vzcybGYAgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCIIgCILIwAo+/lOg/7ABECR8NvwTJGwbfR9wn/OfBeN/h+8BYBD7LPp/9Pmqgde/ev/21//71187BV9zgpg5hv5D8iIPuBf/GfddwH3PCztJ3BMiDzAm8mCQIPIBE/nG1+/d/aJZ9AUniCIo6TlMkPA25tIDSS8+FDUADEbbxQU/Jna23YAJHgFWjZXX5XufNW7c2moCKBd5sQmiKDIKPQCwkhCmxzZRDdUR8/aRkIMB+2qA8VCd8+wYYNUwXpfvftq4cWvrbwDWir7YBFEUGYW+gkmVx727jMi570Xq40OhT9bLS8bK69/e/fTJjfc/IpETS08GoQdjf5LdOi9kfp+kz9l73psHaYKfJvIBrl+98vLD+3+sX333vX+DRE4QskLnxD3mzDPWx1ND9bT6eHKojiDA9SskcoKIIyl0Tt2pDlxD1xkwqodP7ToD+Jb261ffebm5QyIniDjyHl00VAfGPXuS955aH4978/RQPfLkmzsP69dI5AQxgYDQi+464wQNhF1niIv8nZebD0jkBJHGFKELdJ0BOdTHxbrOMAiihrdXmw92F0LktmmtA6jEPu65vtcv2jbicjNF6Lq7zoDUsFwilXXkyQe4dvXKq80HD3fnUeRM1DUAVYTiLk/ZFgBOAPQAdF3f6+RgjwXA0XjIHoC+63td3bZyNjsALI2H7HN29zTbug6gIblbS+Uhb5tWDZMOYxpeitAzdJ0Bk33iGrvOovfXrl559eGD3d1r7/58rkTOBNVEKHIZu7bZ67FtWmcAOgCaru95mkyzAOznUF4AOAXQBtDRaC8QPpi2ddvM2X2C8Dpnttv1vb5tWhUAX0jsVkF4n8jYbSG81jL31pexQS2BWNfZyT9XslwUHXzyzfcVAF3JAuN4bys3223TakK/mJ66vtfUYFsVwHd5lZ3jEEBDR3XENq0uchJ6it2ZHqzMq3uQuyefuL7XyvGaHLm+V2ODWuJiTth86JGLR1XkeWGb1rptWj3k4DEB7Num1WM30SJQB+Cx8HKRqAP4gT2slWAPN0dytybz0hdim1YDciI/i+xhQmcufEzHXGPZ8P/imUeRM3vK2Y40lTJC8VhFl1eQNQD/YXXsRSPTg5W1rxxJ7LKGMBSfCqsWNCXNcaLIyhjv0wYmBD6sP7PvCvTq8yZyRhuzGRW3BqCzQJ4dAJ4tqNjLALoZrrWD0JuKss289TTakLvvj/hGXWNc1xL94zNmHkXOwlOZxpeslCH/VC+aZ8wbLRrKYtcdwrPqhIwzGYbsEckTT0zUx0nkKTQLOOfjBQrhI9pFG6BIGWGrvDSKIfzEudhDUrbtx4k3ho5Cd9lZYGbEvIqc/QCqIfsJe6nSKLr8kpQXNIQHxMLqNBzIhfDlhMbAtuQ5D5LyMMY9+kR9HOPJLkH8gZAvOYj8VKN5VcntjwDccX1vxfW9KnutAPgFgKeSx6ppLMesaBRtQAaaMwzh96Oqjm1aLcg5Ex8pUWaYMKOS5ZYzOYm8qtFES2LbE9f3aklfsH7bpm1aHYnymhrLkWRTaq4Bu+GrCB82dYnDlm3TsjQn1ET4CPuvL6ICtftpDeGDqim7o+t7Hdu0DiF3rdosingseTonLX+BZcbJiDx/oecg8jMAteO9rX7WA3FUJLbtXrSB63s99uM+EzmgbVrVPNNPp9jZB8sms02rDbkknBqAVg5mtUWTiljiUAPyjagNqLfJNBA+HEUf0GXIJzcdTLsfjMkRZRelqCoWVZCcRF493tvy8rV8Ko5I6Of6XrtAG6VhN9YTiV0q82Azi66+hFz9eU01CUgxhJchNWSPGHl0qVFn+ZCjyHs5mNuX2NZEmPDSwsUDGUTr614OZZLG9b0Wa0AS+c2sou3l7O4w7/5CYrca1Fvhu7ZpHUA+HBfBuSjluKQ06iwHFkzkQDgKSib8W0PYTdJg9fFW0ggqHXntBdCDWGpmpWhDeVh16SnEu6+qGU/ZRPiw0NnGciBShTOUFlDQzAKKHFB8srMy1gG8sE3Ls02rtaAJJTxdibLPFezB6gtubmbJYcghhL8wZI8Iu9fiY8DjQ0nHho3qFfqCihzMG4veIGmYCEO5Fyy/WqguP4csos08HYltrSwnYt73QJPdF4bsEUZqqD709PxUT9FDQA+LKnKOhsZjlRG2uEde3ppRGXRQEdwu64MxLzoS21Y1nK+J7NdCKGSPGA1TTaqPR69oiaMAo7nbMnIJRK6S5ijCGkIv/4NtWkqJGgVQEdzOK9rQFHqzPJmGEP7U9b2GzA7G9EkZE2Z+0RC6XwaRczjQm3HHsw+gx1qH5xLW9y/6O3pF25tEEXP2ZQzhHdkdjLH6ONjEi2n96Pz6Z4pcMpFHN0kV+j17hAnguywTIuQFewDJ2NUt2uY5o6Wwz4nKfHfGuIhjgo5NxjhcJUWRyybyCNf3+iwJ4wnkkjBk2GeZaIVim5Zlm1aNy4qT+S27Rds/Z7QV9tlWGSBUSp+VdUrLuwJJIs9z/rYiYMkjHYReTia3WZS6bVpe3n3ttmnlkSxxklOeu47yrhdwzgbU58Nr2abVlbmexmTXGd8IlyDygbxHn9ehpnng+p7n+p6DcFTaYQ6n2F/Qfvd20QZMoSKxbT/rybiZglURmn6Kh41ei/WjD1vX+RBerY4uKvJPvvl+JsPiZhVFsKetw57cDnvpmnKqBb0j8fLmdM7z+GsS2/Y0nK+N7E5v2zathugMssao6yxWL0dKPV1C6MvkydNg9feW63sVAHcQtrRm7UPdXjCv7hRtQBosbJexz8t4vgb0TWEtPIOsMblQAi/suNjPhYVOIp/E9b2e63sN1/cshKI/hHrjXa3o8gjySPeqKJppQPwe9TPO+14B8HeNtguH8MZkSzsn8sGAS5YZCIfuJPKLYaJ3EKZUPoW84CtFl0GAR/McsivMx9bNeMo8rsW2SNdraZQEk1YfHy1oKBK6L4vI2YoZIjSmeTTWDy87wwww3/nlZwjzsDtFG5IGG1veltxNuTwKM7nKsG+bVmfafVaavtZZUhifLvRlETlDtJ5VhUADDhsy2UI+q73MEm1LMuUBl+QjW08+U31wKc7kegY5HbUxJcoriSxoiCAWwiewZCIHxH+Ipm1aPcEBCFbRhVJE22KFijiCacIVqN+fLZWdWGNfW3K3E4RtBzKTYpRt02qm5ViUJhrhwNXPEQ1oOR8f3BJjCUUOiE+2sIYwhfUE4c3SjXs7brkdmYksvBzLdtEsN31WfhQxb10CJvKdMPMM6nPdNaGw+ILre57kpBjAlBC+NNZvPhT9eYI351reOZZU5EDowWTCv+1oe7Zkr49sN2c3r4It6Cw3eaJUFWFRhuzUUcMVXV3fa7K2BJkHRcc2rcrkAg5DYZ9zXWhM1IPz8BV9Hv3PWGKRA2E4liWvPasH6hR9AZaEI5WeA9WQPSEBxpE8homErDsjuT7OCXzA/c8JfclFHrWWtwo6/eG8NnZdMk6hnuzThNzDfGK9NGA4k5HsAh+P420WxrCvfHAeE/WAq5+P3q8aK2+WXeQRLMTNayx6GmdY7FVPFoVTAFXFkL2GDCF7HHafyS7h1eYH6xijkJ0Lz/lwfujd32LVwJtfb9f+AhI5TxWzE/sZFG8+QooTqIt8HXpC9jgO5KqKJriI05gM1wNg8Db04OeRN3+L1RW82fzqz//42dbvD6BH5LLhyFzCTTyRZdFEESKR94ou8yXmDMBTti5eX/EYbcjpIzFkjxMt3SVpSz1adMIYD9tDUQ+Fz3n0jftOZ9281dB0QQ+P97ZkjZ5b2MCVKvKbeOIIgEUiz5VDAJUsPQ5MVDJdpMCUkD0O8/pKIbwxFDnf4h4T+e3PHz7/8W8++krXBT3e23I0HWuuYD+EhVDwOmY8PQLwset7NQrXtXOG8Po+AvAj1/ecjANW1pFPyB7HgeRSUgDapfG+8vPxlvdggNuf7z7/SfneH7Jd0yGnuOQNSVxrfLQwQ5W9LFzcH3qCMBGmizDLrK/RNA+LV11qQ2++QHQsL4cMvgrke2HasidhiTQOJAc1reCX94IJoTORb9zffX6z/DudIq+mrWh62SaemAZ7AKyzf/O46QhijFKiyAfn2Nip6xR5NIljv+gCzwNU1yZmTWlUH2ch+/lbbOw4JHKCuESUhq3sQdidtrHjPL9Z0S7yXtEFJYhlpjRKddUucgBwSOQEUTylqHttY6f+7c3Ktk6RPzre2+oUXUCCIAADg3N8sFP/9uad6mcaj/vkeG+rXXThCIIIMT64X//vT/WK/PB4b6tVdMEIghjxf/xBVQ2BxrgQAAAAAElFTkSuQmCC')
  no-repeat;
  center center;
  height: 88px;
  width: 250px;
}

.wy-side-nav-search .icon-home {
  display: block;
  color: #58595b;
}

.wy-nav-side {
  background-color: rgb(250, 250, 250);
}

.wy-nav-side input[name=q] {
  border-color: #4597cb;
}

.wy-breadcrumbs li, .wy-breadcrumbs li a {
  color: #4597cb !important;
}

.wy-menu-vertical li.on a:hover,.wy-menu-vertical li.current>a {
  background: #4597cb;
  color: white !important;
}

.wy-menu-vertical li.on a:hover,.wy-menu-vertical li>a:hover {
  background: #4597cb !important;
  color: white !important;
}

.wy-menu-vertical ul.current li.toctree-l1>a {
  color: grey;
}

.wy-menu-vertical li.current a {
  color: #58595b;
}

.rst-versions {
  background: #f7f7f7;
}

.rst-versions .rst-current-version {
  background: #4597cb;
}

div.section a, div.section a:visited {
  color: #4597cb !important;
}

h1, h2, h3 {
  color: #4597cb;
}

code {
  color: rgb(51, 51, 51);
}

code, .rst-content tt {
  border: 0px;
  background-color: #f7f7f7;
  font-size: .85em;
  padding: .2em;
  margin: 0;
}

pre code {
  background-color: rgb(247, 247, 247);
}

.hljs-tag, .hljs-tag .hljs-title, .hljs-rule .hljs-property, .django .hljs-tag .hljs-keyword {
  color: rgb(51, 51, 51) !important;
}

.hljs-attribute, .hljs-variable, .lisp .hljs-body, .hljs-name, .hljs-keyword, .hljs-constant, .hljs-symbol, .hljs-regexp {
  color: rgb(51, 51, 51) !important;
}

.hljs-string, .hljs-tag .hljs-value, .hljs-phpdoc, .hljs-dartdoc, .tex .hljs-formula {
  color: rgb(51, 51, 51) !important;
}

.hljs-comment, .diff .hljs-header, .hljs-javadoc {
  color: rgb(51, 51, 51) !important; 
}

footer {
  font-size: .6em;
  color: #d3d3d3;
}

footer a.btn {
  box-shadow: none;
}

footer div[role=contentinfo] p {
   font-size: 1.2em;
}

footer .rst-footer-buttons {
  font-size: 16px;
  color: rgb(64, 64, 64);
}

footer>a, footer>a:visited {
  color: #d3d3d3 !important;
}