{% extends "./page.html" %}

{% block body %}
<div id="pdf-footer" class="pdf-footer">
    <div class="left"></div>
    <div class="center">
        {{ config.copyright }}</br>
        {{ book.strings.license }}
    </div>
    <div class="right"><span class="footer-pages-count">{{ page.num }}</span></div>
    <script>
        if (({% for num in book.hideFooterOnPages %}{{ page.num }} == {{ num }} || {% endfor %} false))
            document.getElementById('pdf-footer').style.display = 'none';
    </script>
</div>
{% endblock %}
