{% extends "./page.html" %}

{% block body %}
<div id="pdf-header" class="pdf-header">
    <div class="left"><span>{{ page.title }}</span></div>
    <div class="center"></div>
    <div class="right">{{ config.title }} - {{ book.strings.version }} {{ book.document.version }}</div>
    <script>
        if (({% for num in book.hideHeaderOnPages %}{{ page.num }} == {{ num }} || {% endfor %} false))
            document.getElementById('pdf-header').style.display = 'none';
    </script>
</div>
{% endblock %}
