/* CSS for PDF */

a {
    color: #4597cb;
}

h1 {
    color: #58595b;
}

h2, h3, h4, h5 {
    color: ##4597cb;
}

li.toc span.inner{
    border: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.pdf-header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #aaa;
}

.pdf-header .left {
    float: left;
    font-size: 0.1em;
    width: 50%;
    height: 15px;
    margin-top: 15px;
}

.pdf-header .center {
    display: inline-block;
    font-size: 0.1em;
    margin: 0 auto;
    width: 0%;
    height: 20px;
    text-align: center;
}

.pdf-header .right {
    float: right;
    font-size: 0.1em;
    width: 50%;
    height: 15px;
    text-align: right;
}

.pdf-footer {
    margin-top: 20px;
    padding-top: 0px;
    border-top: 1px solid white;
    color: #c4c4c4;
    width: 100%;
}
.pdf-footer .left {
    float: left;
    width: 0%;
    height: 20px;
}

.pdf-footer .center {
    display: inline-block;
    font-size: 0.1em;
    margin: 0 auto;
    width: 96%;
    height: 20px;
    text-align: center;
}

.pdf-footer .right {
    float: right;
    width: 4%;
    height: 20px;
}

/* page number */
.pdf-footer .footer-pages-count {
    color: black;
    float: right;
    text-align: right;
}