/* CSS for HTML */

div.nopb {
    page-break-inside: avoid;
}

figure {
    margin: 1.5em 0px;
    padding: 10px 0;
    text-align: center;
}

figcaption {
    clear: left;
    margin: 0.75em 0px;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    font-size: 80%;
    color: #666;
}

#book-search-input {
    border-bottom: 3px solid #4597cb;
}

.book-summary ul.summary li.active>a {
    color: #4597cb;
}

.book-summary ul.summary li a.gitbook-link {
    font-size: 8px;
}

.markdown-section h1 {
    color: #58595b;
}

.markdown-section h2, h3, h4, h5 {
    color: #4597cb;
}