on: 
  push:
    branches: [master, development/v2.2.1, development/v3.0]

jobs:
  build_current:
    name: Build current
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'master'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Build
      run: mkdocs build -v --clean
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-current
        path: ./site
  build_v2-draft:
    name: Build v2-draft
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'development/v2.2.1'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Build
      run: mkdocs build -v --clean
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-v2-draft
        path: ./site
  build_v3-draft:
    name: Build v3-draft
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'development/v3.0'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Install graphviz
      run: apt-get update && apt-get install -y graphviz
    - name: Build
      run: mkdocs build -v  --clean
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-v3-draft
        path: ./site
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [build_current, build_v2-draft, build_v3-draft]
    steps:
    - name: Download current
      uses: actions/download-artifact@v1
      with:
        name: site-current
        path: ./site
    - name: Download v2-draft
      uses: actions/download-artifact@v1
      with:
        name: site-v2-draft
        path: ./site/v2-draft
    - name: Download v3-draft
      uses: actions/download-artifact@v1
      with:
        name: site-v3-draft
        path: ./site/v3-draft
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v2
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./site
