on: 
  push:
    branches: [development/v2.3, development/v3.0, fix-gh-pages]

jobs:
  build_current:
    name: Build current
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'fix-gh-pages'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Build
      run: mkdocs build -v --clean
    - name: Schema
      run: generate-schema-doc schemas/spdx-schema.json site/spdx-json-schema.html
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-current
        path: ./site
  build_v2-draft:
    name: Build v2-draft
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'development/v2.2.2'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Build
      run: mkdocs build -v --clean
    - name: Schema
      run: generate-schema-doc schemas/spdx-schema.json site/spdx-json-schema.html
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-v2-draft
        path: ./site
  build_v3-draft:
    name: Build v3-draft
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'development/v3.0'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Install graphviz
      run: apt-get update && apt-get install -y graphviz
    - name: Build
      run: mkdocs build -v  --clean
    - name: Schema
      run: generate-schema-doc schemas/spdx-schema.json site/spdx-json-schema.html
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-v3-draft
        path: ./site
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [build_current]
    steps:
    - name: Download current
      uses: actions/download-artifact@v1
      with:
        name: site-current
        path: ./site
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
