on: 
  push:
    branches: [master, development/v2.3]

jobs:
  build_current:
    name: Build current
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'master'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Build
      run: mkdocs build -v --clean
    - name: Schema
      run: generate-schema-doc schemas/spdx-schema.json site/spdx-json-schema.html
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-current
        path: ./site
  build_v2-draft:
    name: Build v2-draft
    if: github.ref == 'refs/heads/development/v2.3'
    runs-on: ubuntu-latest
    container: python:3
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'development/v2.3'
    - name: Install pre-requisites
      run: pip install -r requirements.txt
    - name: Build
      run: mkdocs build -v --clean
    - name: Schema
      run: generate-schema-doc schemas/spdx-schema.json site/spdx-json-schema.html
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
        name: site-v2-draft
        path: ./site
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [build_current, build_v2-draft]
    steps:
    - name: Download current
      uses: actions/download-artifact@v4.1.7
      with:
        name: site-current
        path: ./site
    - name: Download v2-draft
      uses: actions/download-artifact@v4.1.7
      with:
        name: site-v2-draft
        path: ./site/v2-draft
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./site
