on:
  pull_request:
    paths:
      - 'examples/**/*.json'
      - 'docs/annexes/*.md'
  push:
    paths:
      - 'examples/**/*.json'
      - 'docs/annexes/*.md'

jobs:
  validate-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  #v4.1.7
      - name: Install Python dependencies
        run: |
          python3 -m pip install check-jsonschema==0.29.2 pyshacl==0.26.0 spdx3-validate==0.0.2
      - name: Install dependencies
        run: |
          sudo apt install -y gawk

      - name: Check examples
        run: |
          ./bin/check-examples.sh
